{%extends 'app/base.html'%}

{% block contenido %}
<!DOCTYPE html>
<html lang="es" class="htmla">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <title>Document</title>
</head>
<body class="bodya">
    <div class="form-body">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items" >
                    <h3>Asignacion Contenedor</h3>
                    <p>escoge un contenedor.</p>
                    <form method="POST" action="#" id="asignara"  >
                        {%csrf_token%}

                        <div class="form-group">
                            {{form.as_table}}
                        </div>

                        <div class="form-button mt-3">
                            <input type="submit" class="btn btn-primary" id="modificar" value="Modificar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


{% endblock %}