{%extends 'app/base.html'%}

{% block contenido %}
<!DOCTYPE html>
<html lang="es" class="htmla">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <title>Document</title>
    </style>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body class="bodya">

      <div  class="card-body">  
        <h4>  Contenedores </h4>
        <table  class="table" >
        
            <thead>
                <tr>
                
                    <th>id contenedor  </th>
                    <th> tipo contenedor </th>
                    <th> peso</th>
                    <th> estado contenedor </th>
                    <th> peso maximo </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
        
                {% for Cont in contenedor %}
                <tr>
                    <td> {{ Cont.id_llenado  }}    </td>
                    <td> {{ Cont.tipo_contenedor  }} </td>
                    <td> {{ Cont.peso  }} </td>
                    <td> {{ Cont.estado_contenedor  }} </td>
                    <td> {{ Cont.precio  }} </td>
                    <td> <a name="" id="" class="btn btn-success" href="{% url 'asigParteDos' Cont.id_llenado pesoM Cont.peso%}"> seleccionar  </a>
                    
                </tr>
                {% endfor %}
        
        
            </tbody>
        
        
        </table>
        
    </div>


</body>
</html>


{% endblock %}