<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-6">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Verde</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    

  <nav>
    <ul class="menu">
      <!------------ LOGO AL INICIO DEL NAV --------------->
      <li class="logo"><a href="#"><img src="{% static 'app/img/logo.png' %}" alt="" width="auto" height="60px"> Punto Verde </a></li>
      <li class="item"><a href="http://127.0.0.1:8000/">Inicio</a></li>

      <li class="item">   
        {% if user.is_authenticated and perms.aapp.add_empleado %}
        <div class="dropdown">
          <button class="dropbtn item" id="btnqlo" >Registros
            <i class="bi bi-caret-down-fill"></i>
          </button>
          <div class="dropdown-content" >
            <a class="item" href="/registro/">Registro Empleado</a>
            <a class="item" href="/registerInv">Registro Contenedor</a>
            <a class="item" href="/comprador"  >Registrar Comprador</a>
          </div>
        </div>
        {% else %}
        {% endif %}</li>
      <li class="item">
        <!-- PERMISOS DE ADMIN -->
        {% if user.is_authenticated and perms.aapp.view_empleados %}
            <div class="dropdown">
              <button class="dropbtn item" id="btnqlo" > Administracion
                <i class="bi bi-caret-down-fill"></i>
              </button>
              <div class="dropdown-content" >
                <a class="item" href="/lleno1/">Contendores Llenos</a>
                <a class="item" href="/estado/">Estado container</a>
                <a class="item" href="/mostrar/#tab1">Ingreso material</a>
                
                {% if user.is_authenticated and perms.aapp.view_empleados %}
                  <a class="item" href="/emple/">Empleados</a>
                  <a class="item" href="/adm/">vistas admin</a>
                {% else %}
                {% endif %}
              </div>
            </div>
            {% else %}
            {% endif %}
      </li>

      <li class="item"><a class="item" href="/recicla/">Como reciclar</a></li>

      {% if user.is_authenticated and perms.aapp.view_contenedorlleno %}
        <li class="item"> <a class="item" href="/mishorarios/{{  user.get_username }}">mis horarios</a></li>
      {% else %}

      {% endif %}

      {% if user.is_authenticated and perms.aapp.view_contenedorlleno %}

      {% else %}
        <li class="item"><a class="item" href="/comprador"  >Registrar Comprador</a></li>
      {% endif %}


      {% if user.is_authenticated and perms.aapp.view_contenedorlleno %}
      <li class="item">
        <!-- PERMISOS DE empleado -->
       
            <div class="dropdown">
              <button class="dropbtn item" id="btnqlo" > tablas
                <i class="bi bi-caret-down-fill"></i>
              </button>
              <div class="dropdown-content" >
                <a class="item" href="/lleno1/">Contendores Llenos</a>
                <a class="item" href="/estado/">Estado container</a>
                <a class="item" href="/mostrar/#tab1">Ingreso material</a>
              </div>
            </div>
            {% else %}

            {% endif %}
      </li>


      {% if user.is_authenticated %}
      <li class="item button secondary"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
      <li class="item" >
        <!-- toma nombre de usuario -->
        <a class="nav-link name " href="/" style="color: red;">  {{ user.get_username }}</a>
      </li>
      {% else %}
      <li class="item button"><a href="{% url 'login' %}">Inicia Sesion</a></li>
      {% endif %}
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script>
$(function() {
    $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
            $(".item").removeClass("active");
            $(this).find("a").html("<i class='fas fa-bars'></i>");
        } else {
            $(".item").addClass("active");
            $(this).find("a").html("<i class='fas fa-times'></i>");
        }
    });
});

</script>






<header>

    <div id="contenido">

   {% block contenido %}

   {% endblock %}

    </div>


</header>

<script src="/aapp/static/app/js/validaciones.js" crossorigin="anonymous"></script>
</body>


<div class="footer-basic">
<footer>
  <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
  <ul class="list-inline">

      <li class="list-inline-item"><a href="#inicio">Inicio</a></li>

      <li class="list-inline-item"><a href="/recicla/">Como Reciclar</a></li>
      <!-- ESTADO CONTENEDOR -->
      {% if user.is_authenticated and perms.aapp.view_llenadocontenedores %}
      <li class="list-inline-item"><a href="/estado/">Estado container</a></li>
      {% else %}
      {% endif %}
      <!-- REGISTRAR MATERIAL -->
      {% if user.is_authenticated and perms.aapp.add_ingresomaterial  %}
      <li class="list-inline-item"><a href="/contnue">Registrar material</a></li>
      {% else %}
      {% endif %}
      <!-- REGISTRAR COMPRADOR -->
      {% if user.is_authenticated and perms.aapp.view_comprador %}
      <li class="list-inline-item"><a href="/contnue">Registro comprador</a></li>
      {% else %}
      {% endif %}
  </ul>
  <p class="copyright">Punto Verde</p>

</footer>
</div>

</html>