<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-6">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Verde</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


</head>
<body>
    

<div class="navess">
  {% load static %}
    <nav class="navbar navbar-expand-sm bg-color navbar-light" style="background-color: #b5ffa6 ;">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'app/img/logo.png' %}" alt="" width="30" height="24">
                  </a>
              <a class="navbar-brand" id="inicio" href="http://127.0.0.1:8000/ ">Punto Verde</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href=" http://127.0.0.1:8000/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/recicla/">Como reciclar</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/lleno1/">Contendores Llenos</a>
            </li>

            <!-- -------------Registro empleado  -->
            {% if user.is_authenticated and perms.aapp.add_empleado %}
            <li class="nav-item">
              <a class="nav-link" href="/registro/">Registro Empleado</a>
            </li>
            {% else %}
            
            {% endif %}

            <!-- --------Estado contenedor -->
            {% if user.is_authenticated and perms.aapp.view_llenadocontenedores %}

            <li class="nav-item">
              <a class="nav-link " href="/estado/">Estado container</a>
            </li>
            {% else %}

            {% endif %}
             <!------------------ LI INGRESO -->

            {% if user.is_authenticated and perms.aapp.view_llenadocontenedores or perms.aapp.view_ingresomaterial or perms.aapp.view_inventariocontendores %}
            <li class="nav-item">
              <a class="nav-link " href="/mostrar/#tab1">ingreso material</a>
            </li>
            {% else %}

            {% endif %}
          
            <!-- -------------------------- LI COMPRADOR -->

            {% if user.is_authenticated and perms.aapp.view_comprador %}
              
            {% else %}
            <li class="nav-item" >
              <a class="nav-link " href="/comprador" >Registrar Comprador</a>
            </li>
            {% endif %}

            <!------------------ REGISTRO CONTENEDOR -->
            {% if user.is_authenticated and perms.aapp.add_inventariocontenedores %}
            <li class="nav-item">
              <a class="nav-link " href="/registerInv">Registro Contenedor</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="/registerInv" style="visibility: hidden;">Registro Contenedor</a>
            </li>
            {% endif %}



            <!-- verifica login -->
            {% if user.is_authenticated %}
             
              
              <li class="nav-item">
               <a class="btn btn-danger logino " href="{% url 'logout' %}"> Cerrar sesion :C </a>
              </li>

              <li class="nav-item" >
                <!-- toma nombre de usuario -->
                <a class="nav-link name " href="/">  {{ user.get_username }}</a>
                
              </li>

            {% else %}
              <li class="nav-item">
               <a class="btn btn-success logina" href="{% url 'login' %}"> Inicia sesion :D</a>
              </li>

            {% endif %}
            <!-- ---------- FIN LI ------------- -->
          </ul>
        </div>
      </nav>
  </div>




    






<header>

    <div id="contenido">
   {% block contenido %}

   {% endblock %}

    </div>


</header>

<script src="/aapp/static/app/js/validaciones.js" crossorigin="anonymous"></script>
</body>


<div class="footer-basic">
<footer>
  <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
  <ul class="list-inline">

      <li class="list-inline-item"><a href="#inicio">Inicio</a></li>
<!-- REGISTRO EMPELADO -->
      {% if user.is_authenticated and perms.aapp.add_empleado %}
      <li class="list-inline-item"><a href="/registro/">Registro</a></li>
      {% else %}
      {% endif %}
      <li class="list-inline-item"><a href="/recicla/">Como Reciclar</a></li>
      <!-- REGISTRO CONTENDOR -->
      {% if user.is_authenticated and perms.aapp.add_inventariocontenedores %}
      <li class="list-inline-item"><a href="/registerInv">Registro Contenedor</a></li>
      {% else %}
      {% endif %}
      <!-- ESTADO CONTENEDOR -->
      {% if user.is_authenticated and perms.aapp.view_llenadocontenedores %}
      <li class="list-inline-item"><a href="/estado/">Estado container</a></li>
      {% else %}
      {% endif %}
      <!-- REGISTRAR MATERIAL -->
      {% if user.is_authenticated and perms.aapp.add_ingresomaterial  %}
      <li class="list-inline-item"><a href="/contnue">Registrar material</a></li>
      {% else %}
      {% endif %}
      <!-- REGISTRAR COMPRADOR -->
      {% if user.is_authenticated and perms.aapp.view_comprador %}
      <li class="list-inline-item"><a href="/contnue">Registro comprador</a></li>
      {% else %}
      {% endif %}
  </ul>
  <p class="copyright">Punto Verde</p>
</footer>
</div>

</html>