<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Hola, te enviamos un correo con los detalles de tu reserva</h2>

<table>
  <tr>
    <th>comprador</th>
    <th>Telefono / Celular</th>
    <th>Correo electronico</th>
    <th>Contenedor</th>

    <th>fecha inicio</th>
    <th>fecha experacion</th>
  </tr>
  <tr>
    <td>{{ usuario }}</td>
    <td>{{ telefono }}</td>
    <td>{{ email }}</td>
    <td>{{ conte }}</td>

    <td>{{ inicio }}</td>
    <td>{{ fin }}</td>
  </tr>
  
</table>
    <h4>porfavor acuda a la sucursal de PUNTO VERDE antes de la fecha de expiracion de su recerva</h4>
</body>
</html>