<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/aapp/static/app/css/estilos.css">
    <link rel="stylesheet" href="/aapp/static/app/css/font-awesome.css">
</head>
<body>
    <section class="form_wrap" style="height: 700px;">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DE RESERVA</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                <p><span class="fa fa-mobile"></span> +1(585) 902-8665</p>
            </section>
        </section>
            <form  class="form_contact" method="POST">

                <h2>DATOS</h2>
                <div class="user_info">
                    <label for="names">comprador</label>
                    <input type="text" id="names" name="comprador" value="{{ usuario }}" readonly>

                    <label for="phone">Telefono / Celular</label>
                    <input type="text" id="phone" name="telefono" value="{{ telefono }}" readonly>

                    <label for="email">Correo electronico *</label>
                    <input type="text" id="email" name ="email" value="{{ email }}" readonly >

                    <label for="contenedor">Contenedor</label>
                    <input type="text" id="contenedor" name="contenedor" value="{{ conte }}" readonly >

                    <h2>RANGO DE RESERVA</h2>
                    <label for="contenedor">fecha inicio</label>
                    <input type="text" id="contenedor" name="inicio" value="{{ inicio }}" readonly> 

                    <label for="contenedor">fecha experacion</label>
                    <input type="text" id="contenedor" name="fin" value="{{ fin }}" readonly>

                
            </div>
            </form>
    </section>

</body>
</html>