{%extends 'app/base.html'%}

{% block contenido %}






<div class="recicla" >


<h1>Estado container</h1>
<div  class="card-body">  
<h4>  Contenedores </h4>
<div class="table-responsive-xl">
<table  class="table table-striped table-dark" >

    <thead>
        <tr class="">
        
            <th>id contenedor  </th>
            <th> tipo contenedor </th>
            <th> peso</th>
            <th> estado contenedor </th>
            <th> precio </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for Contenedor in contenedor %}
        <tr >
            <td class=""> {{ Contenedor.id_contenedor  }}    </td>
            <td class=""> {{ Contenedor.tipo_contenedor  }} </td>
            <td class=""> {{ Contenedor.peso  }} </td>
            <td class=""> {{ Contenedor.estado_contenedor  }} </td>
            <td class=""> {{ Contenedor.precio  }} </td>
            <td class=""> <a name="" id="" class="btn btn-success" href="#"> Reservar  </a>  <a class="btn btn-danger" href="{% url 'eliminar' Contenedor.id_llenado %}" role="button"> Eliminar </a> 
            </td>
        </tr>
        {% endfor %}


    </tbody>


</table> </div>

</div>






</div>
{% endblock %}