{%extends 'app/base.html'%}

{% block contenido %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formulario" > 
        <form class="formu"id="formu"  action="/horpart2/{{empleado.rut_empleado}}" method="POST"> {% csrf_token %}

            <h2> Registro</h2>
        
            <div class="form-group"> 
                <label for="apellido" class="control-label"> ID horario</label>
                <input type="number" class="form-control" id="horario" name="horario" placeholder="Ingrese ID">
            </div>  
        
            <div class="form-group" > 
                <label for="nombre" class="control-label">hora de inicio</label>
                <input type="datetime-local" class="form-control" id="inicio" name="inicio" placeholder="Ingrese hora de inicio">
            </div>    
        
            <div class="form-group" > 
                <label for="apellido" class="control-label"> hora de termino</label>
                <input type="datetime-local" class="form-control" id="termino" name="termino" placeholder="Ingrese hora de termino">
            </div>
            
            

        
        
        
            <input type="submit"  class="botones btn btn-success" value="Enviar" > 
            
            
        
        
        </form>
    </div>    
</body>
</html>

{% endblock %}