{%extends 'app/base.html'%}

{% block contenido %}


{% load static %}




<div class="recicla">



 





    <div class="tabs">
        <div class="tab-container">
          <div id="tab3" class="tab"> 
            <a href="#tab3"> Materiales </a>
            <div class="tab-content">
              <h2>  Ingresos Material </h2>
<!-- -----------------------------MOSTRAR CONTAINERS ------------------------------------- -->

<div  class="card-body">  
 
  <table  class="table" >
      <thead>
          <tr>
              <th> ID Contenedor  </th>
              <th> Tipo Contenedor </th>
              <th> Fecha </th>
              <th> Peso Material </th>
              
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for IngresoMaterial in ingresos %}
          <tr>
              <td> {{ IngresoMaterial.id_material  }}    </td>
              <td> {{ IngresoMaterial.tipo_producto  }} </td>
              <td> {{ IngresoMaterial.fecha  }} </td>
              <td> {{ IngresoMaterial.pesos_material  }} </td>
              
              <td> <a name="" id="" class="btn btn-success" href="{% url 'asigParteUno' IngresoMaterial.id_material IngresoMaterial.pesos_material %}"> Reservar  </a>
                <a class="btn btn-danger" href="{% url 'eliminar2' IngresoMaterial.id_material %}" role="button"> Eliminar </a> 
              </tr>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
  

<!-- ------------------------------------------------------------- -->


            </div>
          </div>
          <div id="tab2" class="tab">
            <a href="#tab2"> Contenedores</a>
            <div class="tab-content">
              <h2> Contenedores</h2>
           


              <div  class="card-body">  
                <h4>   </h4>
                <table  class="table" >
                
                    <thead>
                        <tr>
                            <th>ID Contenedor  </th>
                            <th> Tipo Contenedor </th>
                            <th> Peso</th>
                            <th> Estado Contenedor </th>
                            <th> Precio </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                
                        {% for Contenedor in contenedor %}
                        <tr>
                            <td> {{ Contenedor.id_llenado  }}    </td>
                            <td> {{ Contenedor.tipo_contenedor  }} </td>
                            <td> {{ Contenedor.peso  }} </td>
                            <td> {{ Contenedor.estado_contenedor  }} </td>
                            <td> {{ Contenedor.precio  }} </td>
                            <td> <a name="" id="" class="btn btn-success" href="#"> Reservar  </a>  <a class="btn btn-danger" href="{% url 'eliminar' Contenedor.id_llenado %}" role="button"> Eliminar </a> 
                        </tr>
                        {% endfor %}
                
                
                    </tbody>
                
                
                </table>
                
                </div>



            </div>
          </div> 
          <div id="tab1" class="tab">
            <a href="#tab1">Invt. Contenedores </a>
            <div class="tab-content">

              <h2> Inventario Contenedor</h2>
  
 
              <div  class="card-body">  
                <table  class="table" >
                
                    <thead>
                        <tr>
                        
                            <th> ID Contenedor  </th>
                            <th> Tipo Contenedor </th>
                            <th> Peso</th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                
                        {% for InventarioContenedores in cont %}
                        <tr>
                            <td> {{ InventarioContenedores.id_contenedor  }}    </td>
                            <td> {{ InventarioContenedores.tipo_contenedor  }} </td>
                            <td> {{ InventarioContenedores.peso  }} </td>
                            
                            
                            <td> <a name="" id="" class="btn btn-success" href="#"> Reservar  </a>  <a class="btn btn-danger" href="{% url 'eliminar3' InventarioContenedores.id_contenedor %}" role="button"> Eliminar </a> 
                        </tr>
                        {% endfor %}
                
                
                    </tbody>
                
                
                </table>
                
                </div>
             
            </div>  
          </div> 


              
  <div id="tab4" class="tab">
    <a href="#tab4"> Algo falta aqui</a>
    <div class="tab-content">

      <h2> algo </h2>


      

    </div>  
  </div> 



        </div>
      </div>
      
</div>

{% endblock %}