{%extends 'app/base.html'%}

{% block contenido %}



<div class="formulario" > 
  <form class="formu"id="formu" action="/registerInv" method="POST"> {% csrf_token %}

    <h2> Registro</h2>

    <hr>
    <div class="form-group" id="g_tipo"> 
        <label for="nombre" class="control-label">Tipo</label>
        <input type="text" class="form-control" id="full_name_id" name="tipo_contenedor" placeholder="Ingrese Tipo" required>
    </div>    
    <hr>
    <div class="form-group" id="g_peso"> 
        <label for="apellido" class="control-label"> Peso Maximo</label>
        <input type="number" class="form-control" id="street1_id" name="peso" placeholder="Ingrese Peso" required>
    </div>  
    <hr>



    <input type="submit"  class="botones btn btn-success" value="Enviar" onclick="cont()">
    
    <script> 
      function cont(){
      var resultado = window.confirm('Estas seguro que desea crear Contenedor ?');
      if (resultado === true) {
      window.alert('Contenedor creado');
      } else { 
          window.location = "http://127.0.0.1:8000/registerInv";
      }
          }
      </script>
    
    


  </form>
</div>

{% endblock %}