{%extends 'dashboard/base_dash.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <style>
            .editos{
               margin-left: 2%;
            }

            .tabla2 {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            .titulo, .cuerpo {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            .fila:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
        {% load static %}
    </head>
    <body class="sb-nav-fixed">
        {% load static %}
             
            {% load static %}
        <div id="layoutSidenav">
            

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tabla de ingresos de materiales
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead >
                                        <tr class="fila">
                                            <th>id</th>
                                            <th>tipo</th>
                                            <th>ingreso</th>
                                            <th>peso</th>
                                            <th>estado</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="fila">
                                            <th>id</th>
                                            <th>tipo</th>
                                            <th>ingreso</th>
                                            <th>peso</th>
                                            <th>estado</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for in in ingresos %}
                                            <tr class="fila">

                                                <td class="titulo"> {{ in.id_material  }}    </td>
                                                <td class="titulo"> {{ in.tipo_producto  }} </td>
                                                <td class="titulo"> {{ in.fecha  }} </td>
                                                <td class="titulo"> {{ in.pesos_material  }} </td>
                                                <td class="titulo"> {{ in.estado }}</td>

                                            </tr>
                                        {% endfor %}
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <br>
                        <div class="card  editos" >
                            <h5 class="card-header">tabla de contenedores llenandose</h5>
                            <div class="card-body">
                            

                                <table id="tabla2" class="tabla2">
                                    <thead>
                                        <tr class="fila">
                                            <th class="titulo">id_llenado</th>
                                            <th class="titulo">tipo_contenedor</th>
                                            <th class="titulo" > peso</th>
                                            <th class="titulo" >estado</th>
                                        
                                            <th class="titulo" >precio</th>
                                            <th class="titulo" >traslalado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cont in contenedor %}
                                            <tr class="fila">

                                                <td class="titulo"> {{ cont.id_llenado  }}    </td>
                                                <td class="titulo"> {{ cont.tipo_contenedor  }} </td>
                                                <td class="titulo"> {{ cont.peso  }} </td>
                                                <td class="titulo"> {{ cont.estado_contenedor  }} </td>
                                                <td class="titulo"> {{ cont.precio  }} </td>
                                                <td class="titulo" >{{ cont.trasladado }}</td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                            </div>
                      </div>
                      <br>
                      <br>
                      <div class="card  editos">
                        <h5 class="card-header">tabla de inventario de los contenedores</h5>
                        <div class="card-body">
                          

                          <table id="tabla3" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">id</th>
                                    <th class="titulo">tipo</th>
                                    <th class="titulo" >peso</th>
                                    <th class="titulo" >Contenedor</th>
                                
                                    <th class="titulo" >fecha inicio</th>
                                    <th class="titulo" >fecha experacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inve in inventa %}
                                <tr class="fila">
                                    <td class="titulo">{{ inve.id_contenedor  }} </td>
                                    <td class="titulo">{{ inve.tipo_contenedor  }}</td>
                                    <td class="titulo" > {{ inve.peso  }} </td>
                                    <td class="titulo"> </td>
                                
                                    <td class="titulo" > </td>
                                    <td class="titulo" >fin </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                          
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="card editos">
                        <h5 class="card-header">tabla de contenedores llenos </h5>
                        <div class="card-body">
                          

                          <table id="tabla4" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">id</th>
                                    <th class="titulo">reservado</th>
                                    <th class="titulo" >precio total</th>
                                    <th class="titulo"> informacion </th>
                                    <th class="titulo"> llenando</th>
                                    <th class="titulo" >pagado</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for ll in llenos %}
                                <tr class="fila">
                                    <td class="titulo">{{ ll.id_lleno  }} </td>
                                    <td class="titulo">{{ ll.reservado  }}</td>
                                    <td class="titulo" > {{ ll.precio_total  }} </td>
                                    <td class="titulo" > {{ ll.reserva_id_reserva}}</td>
                                    <td class="titulo" >{{ ll.llen_conts_id_llenado}}</td>
                                    <td class="titulo"> {{ ll.estado}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                          
                        </div>
                      </div>
                      <br>
                      <br>
                     <div class="card  editos">
                        <h5 class="card-header">tabla de reservas </h5>
                        <div class="card-body">
                        

                        <table id="tabla5" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">comprador</th>
                                    <th class="titulo">Telefono / Celular</th>
                                    <th class="titulo" >Correo electronico</th>
                                    <th class="titulo" >Contenedor</th>
                                    <th class="titulo" >fecha inicio</th>
                                    <th class="titulo" >fecha experacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for re in reservas %}
                                <tr class="fila">
                                    <td class="titulo" > {{ re.comprador_id_comprador}}</td>
                                    <td class="titulo">{{ re.id_reserva  }} </td>
                                    <td class="titulo"> {{ re.comprador_id_comprador.correo}}</td>
                                    <td class="titulo" >{{ re.contenedor_lleno_id_lleno}}</td>
                                    <td class="titulo">{{ re.fecha  }}</td>
                                    <td class="titulo" > {{ re.fecha_limite  }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        </div>
                    </div>
                    <br>
                      <br>

                    <div class="card  editos">
                        <h5 class="card-header">empleados</h5>
                        <div class="card-body">
                        

                        <table id="tabla6" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">rut</th>
                                    <th class="titulo">primer_nombre</th>
                                    <th class="titulo" >seg_nombre</th>
                                    <th class="titulo" >primer_apellido</th>
                                    <th class="titulo" >seg_apellido</th>
                                    <th class="titulo" >password</th>
                                    <th class="titulo" >email</th>
                                    <th class="titulo" >direccion</th>
                                    <th class="titulo" >telefono</th>
                                    <th class="titulo" >area</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for em in empleados %}
                                <tr class="fila">
                                    <td class="titulo" > {{ em.rut_empleado}}</td>
                                    <td class="titulo">{{ em.primer_nombre  }} </td>
                                    <td class="titulo"> {{ em.segundo_nombre}}</td>
                                    <td class="titulo" >{{ em.primer_apellido}}</td>
                                    <td class="titulo">{{ em.segundo_apellido  }}</td>
                                    <td class="titulo" > {{ em.password  }} </td>
                                    <td class="titulo" > {{ em.email  }} </td>
                                    <td class="titulo" > {{ em.direccion  }} </td>
                                    <td class="titulo" > {{ em.telefono  }} </td>
                                    <td class="titulo" > {{ em.ocupacion  }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        </div>
                    </div>
                    <br>
                      <br>
                    <div class="card  editos">
                        <h5 class="card-header">retiros</h5>
                        <div class="card-body">
                        

                        <table id="tabla7" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">rut</th>
                                    <th class="titulo">primer_nombre</th>
                                    <th class="titulo" >segundo_nombre</th>
                                    <th class="titulo" >primer_apellido</th>
                                    <th class="titulo" >segundo_apellido</th>
                                    <th class="titulo" >fecha_retiro</th>
                                    <th class="titulo" >contacto</th>
                                    <th class="titulo" >empresa asociada</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for re in retiros %}
                                <tr class="fila">
                                    <td class="titulo" > {{ re.id_retiro}}</td>
                                    <td class="titulo">{{ re.primer_nombre  }} </td>
                                    <td class="titulo"> {{ re.segundo_nombre}}</td>
                                    <td class="titulo" >{{ re.primer_apellido}}</td>
                                    <td class="titulo">{{ re.segundo_apellido  }}</td>
                                    <td class="titulo" > {{ re.fecha_retiro  }} </td>
                                    <td class="titulo" > {{ re.contacto  }} </td>
                                    <td class="titulo" > {{ re.empresa_id_empresa  }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        </div>
                    </div>
                    <br>
                      <br>
                    <div class="card  editos">
                        <h5 class="card-header">empresas</h5>
                        <div class="card-body">
                        

                        <table id="tabla8" class="tabla2">
                            <thead>
                                <tr class="fila">
                                    <th class="titulo">id_empresa</th>
                                    <th class="titulo">razon_social</th>
                                    <th class="titulo" >direccion</th>
                                    <th class="titulo" >pais</th>
                                    <th class="titulo" >region</th>
                                    <th class="titulo" >contacto</th>
                                    <th class="titulo" >correo</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for empre in empresa %}
                                <tr class="fila">
                                    <td class="titulo" > {{ re.id_empresa}}</td>
                                    <td class="titulo">{{ re.razon_social  }} </td>
                                    <td class="titulo"> {{ re.direccion}}</td>
                                    <td class="titulo" >{{ re.pais}}</td>
                                    <td class="titulo">{{ re.region  }}</td>
                                    <td class="titulo" > {{ re.contacto  }} </td>
                                    <td class="titulo" > {{ re.correo  }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        </div>
                    </div>

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/aapp/static/app/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/aapp/static/app/js/datatables-simple-demo.js"></script>
        
    </body>
</html>
{% endblock %}